.advantages {
  padding: 32px 0 58px 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.advantages__title {
  margin: 0 0 86px 0;
  padding: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  display: block;
  margin: 0 0 83px 0;
  padding: 0;
  width: 260px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;

  @media (min-width: $tablet-width) {
    width: 334px;

    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item--ecology {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 8px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
  }
}

.advantages__item--style {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 8px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.advantages__item--likes {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 8px;

    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.advantages__item--handmade {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 8px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.advantages__item--support {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 8px;

    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.advantages__item--gift {
  position: relative;

  margin: 0;

  &::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 8px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    order: 5;
  }
}
