.advantages {
  padding-top: 34px;
  padding-bottom: 54px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 56px;
    padding-bottom: 90px;
    padding-left: 175px;
  }
}

.advantages__title {
  margin: 0 0 88px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 105px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -5px;
    margin-bottom: 102px;
  }
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.advantages__item {
  display: block;
  margin: 0 0 83px 0;
  padding: 0;
  width: 260px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;

  @media (min-width: $tablet-width) {
    width: 334px;
    margin-bottom: 110px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;

    font-size: 20px;
    line-height: 22px;
  }

  &--ecology {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -55px;
      left: 8px;

      width: 32px;
      height: 37px;

      background-image: url("../img/icon-feature-flower.svg");
      background-repeat: no-repeat;
    }
  }

  &--style {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -55px;
      left: 2px;

      width: 47px;
      height: 27px;

      background-image: url("../img/icon-feature-money.svg");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        top: -53px;
      }
    }

    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--likes {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -50px;
      left: 8px;

      width: 34px;
      height: 30px;

      background-image: url("../img/icon-feature-heart.svg");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        top: -47px;
      }
    }

    @media (min-width: $tablet-width) {
      order: 4;

      margin-bottom: 0;
    }
  }

  &--handmade {
    position: relative;
    width: 212px;

    &::before {
      position: absolute;
      content: "";
      top: -52px;
      left: 4px;

      width: 35px;
      height: 34px;

      background-image: url("../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--support {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -52px;
      left: 0;

      width: 55px;
      height: 23px;

      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        top: -48px;
        left: -5px;
      }
    }

    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--gift {
    position: relative;
    width: 212px;

    margin: 0;

    &::before {
      position: absolute;
      content: "";
      top: -52px;
      left: 6px;

      width: 33px;
      height: 32px;

      background-image: url("../img/icon-feature-gift.svg");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        left: 4px;
      }
    }

    @media (min-width: $tablet-width) {
      order: 5;

      margin-bottom: 0;
    }
  }
}
