.button {
  display: block;
  padding: 14px 0;
  margin: 0;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: $gray-primary;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;


  background-color: #ffffff;
  border: 2px solid $gray-primary;

  &:hover {
    color: #ffffff;

    background-color: $gray-primary;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
