.catalog-item {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-bottom: 30px;
  padding-bottom: 12px;

  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding-bottom: 0;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}

.catalog-item__link-image {
  padding: 0;
  margin: 0 0 22px 0;
  width: 260px;

  color: black;
  text-decoration: none;

  background-color: #ececec;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog-item__image {
  display: block;
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
    height: 462px;
  }
}

.catalog-item__link {
  color: black;
  text-decoration: none;
}

.catalog-item__content-wrapper {
  padding: 0 0 0 28px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog-item__title {
  margin: 0 0 5px 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
}

.catalog-item__description {
  margin: 0 0 18px 0;

  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.catalog-item__total {
  width: 204px;
  padding-top: 5px;

  border-top: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    width: 268px;
    margin-top: auto;
    padding: 6px 4px 12px;
  }
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: black;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-item__button {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 18px;
    left: 185px;

    width: 20px;
    height: 19px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      left: 250px;
      bottom: 22px;
    }
  }
}
