.catalog-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 130px;
  }
}
