.contacts {
  position: relative;
  padding: 42px 0 39px 0;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -29px;

    height: 7px;
    width: 320px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;

    @media (min-width: $tablet-width) {
      height: 17px;
      width: 668px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-size: 768px 17px;
    }
  }
}

.contacts__title {
  margin: 0 0 40px 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  &::after {
    position: absolute;
    content: "";
    top: 20px;
    right: 55px;

    display: none;
    width: 47px;
    height: 80px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    color: black;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;

  width: 260px;
  margin-bottom: 40px;

  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
  }
}

.contacts__list-field {
  display: inline-block;
  margin: 0 30px 30px 0;

  vertical-align: top;
}

.contacts__list-value {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 178px;

  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }
}

.contacts__mail-link {
  padding-bottom: 4px;

  color: $gray-primary;
  text-decoration: none;

  border-bottom: 1px solid #59d5bc;
}

.contacts__map {
  margin: 0 0 38px -30px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: -50px;
  }
}

.contacts__button {
  display: block;
  padding: 18px 0;
  margin: 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto;
  }
}
