.copyright {
  padding: 10px 0 22px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 185px;
    padding-top: 30px;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  text-decoration: none;
}

.copyright__text {
  padding: 0 30px 0 0;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  vertical-align: center;
}

.copyright__link-icon {
  fill: $green-primary;

  .copyright__link:hover & {
    fill: #46c1ae;
  }

  .copyright__link:active & {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
