.form-order {
  padding-top: 12px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 108px;
  }
}

.form-order_description {
  width: 300px;
  margin-bottom: 22px;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 680px;
    padding: 0 50px;
    margin-bottom: 34px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    padding: 0;
  }
}

.form-order__fieldset {
  position: relative;

  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-left: 62px;
  }

  &--type {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 8px;
      padding-top: 30px;
      padding-bottom: 42px;
    }
  }

  &--color {
    margin-bottom: 25px;
  }

  &--name {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding-top: 52px;
      padding-bottom: 10px;
    }
  }

  &--phone {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      margin-bottom: 12px;
    }
  }

  &--email {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
    }
  }

  &--message {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      padding-top: 50px;
      padding-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 14px;
      padding-left: 62px;
    }
  }
}

.form-order__block-gray {
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 8px;

    background-color: #f1f1f1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      padding-top: 55px;
      padding-bottom: 24px;

      background-color: #f1f1f1;
    }

    @media (min-width: $desktop-width) {
      padding-left: 120px;
    }
  }
}

.form-order__legend {
  position: relative;

  margin: 0;
  margin-bottom: 20px;

  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  color: $green-primary;

  &::after {
    position: absolute;
    content: "";
    top: 6px;
    left: 62px;

    height: 1px;
    width: 198px;

    background-color: $green-primary;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 166px;
  }

  @media (min-width: $desktop-width) {
    width: 112px;
  }

  &--type {
    @media (min-width: $tablet-width) {
      padding-top: 12px;
    }
  }

  &--color {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding-top: 18px;
    }
  }

  &--name {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding-top: 15px;
    }
  }

  &--phone {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
    }
  }

  &--email {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
    }
  }

  &--message {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding-top: 20px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 16px;
    }
  }
}

.form-order__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--type {
    @media (min-width: $tablet-width) {
      width: 400px;
    }
  }

  &--color {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 500px;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-start;
      width: 875px;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      width: 500px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }
}

.form-order__item {
  position: relative;

  padding: 18px 5px 18px 64px;

  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding-left: 80px;
  }

  &--type {
    width: 200px;
    padding: 10px 5px 10px 64px;

    @media (min-width: $tablet-width) {
      width: 400px;
      padding-left: 80px;
      margin-bottom: 30px;
    }
  }

  &--color {
    margin-bottom: 7px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
      width: 238px;
    }

    @media (min-width: $desktop-width) {
      width: 263px;
    }
  }

  &--name {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      margin-bottom: 13px;
      width: 500px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }
}

.form-order__checkbox + .form-order__label-checkbox::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 10px;

  width: 40px;
  height: 40px;

  border: 2px solid $gray-primary;

  @media (min-width: $tablet-width) {
    left: 0;
    bottom: 0;

    width: 54px;
    height: 52px;
  }
}

.form-order__checkbox:checked + .form-order__label-checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-size: 32px 22px;
  }
}

.form-order__label-radio {
  position: relative;
}

.form-order__radio + .form-order__label-radio::before {
  position: absolute;
  content: "";
  left: -64px;
  bottom: -10px;

  width: 40px;
  height: 40px;

  border: 2px solid $gray-primary;
  border-radius: 50%;


  @media (min-width: $tablet-width) {
    left: -82px;
    bottom: -17px;

    width: 53px;
    height: 53px;
  }
}

.form-order__radio:checked + .form-order__label-radio::after {
  content: "";
  position: absolute;
  left: -52px;
  top: 2px;

  width: 16px;
  height: 16px;

  background-color: #62d1ba;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -66px;
    top: 0;

    width: 22px;
    height: 22px;
  }
}

.form-order__label {
  @media (min-width: $tablet-width) {
    margin-right: 27px;
    padding-top: 12px;
    flex-shrink: 1;

    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
  }
}

.form-order__input-text {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 22px;
  width: 260px;

  font-size: 17px;
  line-height: 18px;

  border-bottom: 2px solid black;
  border-width: 0 0 2px 0;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-bottom: 16px;
    padding-left: 18px;
    margin-bottom: 16px;
    width: 100%;


    font-size: 19px;
    line-height: 18px;

    background-color: transparent;
  }

  &--phone {
    width: 260px;

    @media (min-width: $tablet-width) {
      width: 500px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }

  &--email {
    width: 260px;

    @media (min-width: $tablet-width) {
      width: 500px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $green-primary;

    outline: none;
  }
}

.form-order__icon {
  position: absolute;
  top: 6px;
  left: 614px;

  display: block;

  opacity: 0.2;

  &--phone {
    top: 6px;
    left: 617px;
  }

  @media (min-width: $desktop-width) {
    left: 780px;
  }
}

.form-order__input-text:hover + .form-order__icon,
.form-order__input-text:focus + .form-order__icon {
  fill: $green-primary;

  opacity: 1;
}

.form-order__input-text::placeholder,
.form-order__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);

  &:active {
    color: rgb(68, 68, 68);
  }
}

.form-order__textarea {
  width: 260px;
  padding: 15px 80px 85px 15px;

  font-size: 17px;
  line-height: 18px;

  border: 2px solid black;

  @media (min-width: $tablet-width) {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    height: 142px;
    min-height: 142px;
    max-height: 142px;

    padding-bottom: 88px;

    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    min-width: 700px;
    max-width: 700px;

    padding-top: 12px;
  }

  &:hover,
  &:focus {
    border: 2px solid $green-primary;

    outline: none;
  }
}

.form-order__rule-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 174px;
  }
}

.form-order__rule {
  margin-bottom: 30px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 0;
    margin-top: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.form-order__button {
  width: 260px;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-right: 150px;

    font-size: 17px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 185px;
  }
}
