.form-order {
  padding-top: 12px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 108px;
  }
}

.form-order_description {
  width: 300px;
  margin-bottom: 22px;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 680px;
    padding: 0 50px;
    margin-bottom: 74px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 680px;
    padding: 0;
  }
}

.form-order__fieldset {
  position: relative;

  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--type {
    @media (min-width: $tablet-width) {
      margin-bottom: 8px;
    }
  }

  &--name {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding-top: 60px;
      margin-bottom: 14px;
    }
  }

  &--phone {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10px;

    &::after {
      position: absolute;
      content: "";
      left: 228px;
      bottom: 38px;

      width: 25px;
      height: 26px;

      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      opacity: 0.2;

      @media (min-width: $tablet-width) {
        left: 616px;
        bottom: 32px;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
    }
  }

  &--email {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0;

    &::after {
      position: absolute;
      content: "";
      left: 225px;
      bottom: 38px;

      width: 32px;
      height: 26px;

      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      opacity: 0.2;

      @media (min-width: $tablet-width) {
        left: 615px;
        bottom: 32px;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
    }
  }

  &--message {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      padding-top: 50px;
      padding-bottom: 34px;
    }
  }
}

.form-order__block-gray {
  @media (min-width: $tablet-width) {
    padding-top: 68px;

    background-color: #f1f1f1;

    @media (min-width: $tablet-width) {
      padding-bottom: 15px;

      background-color: #f1f1f1;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      padding-top: 63px;
      padding-bottom: 24px;

      background-color: #f1f1f1;
    }
  }
}

.form-order__legend {
  margin: 0;
  margin-bottom: 35px;

  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  color: $green-primary;

  @media (min-width: $tablet-width) {
    margin-right: 210px;
  }

  &--color {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-right: 170px;
    }
  }

  &--name {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-right: 128px;
      padding-top: 6px;
    }
  }

  &--phone {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;

    @media (min-width: $tablet-width) {
      padding-top: 6px;
      margin-right: 132px;
    }
  }

  &--email {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;

    @media (min-width: $tablet-width) {
      padding-top: 6px;
      margin-right: 106px;
    }
  }

  &--message {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding-top: 20px;
      margin-right: 128px;
    }
  }
}

.form-order__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--type {
    @media (min-width: $tablet-width) {
      width: 400px;
    }
  }

  &--color {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 500px;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      width: 500px;
    }
  }
}

.form-order__item {
  margin-bottom: 44px;
  padding-left: 64px;

  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 57px;

    font-size: 19px;
  }

  &--type {
    width: 190px;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 56px;
      width: 300px;
    }
  }

  &--color {
    @media (min-width: $tablet-width) {
      width: 235px;
      padding-left: 30px;
    }
  }

  &--name {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      margin-bottom: 20px;
      width: 500px;
    }
  }
}

.form-order__label-checkbox {
  position: relative;
}

.form-order__checkbox + .form-order__label-checkbox::before {
  position: absolute;
  content: "";
  left: -64px;
  bottom: -10px;

  width: 40px;
  height: 40px;

  border: 2px solid $gray-primary;

  @media (min-width: $tablet-width) {
    left: -80px;
    bottom: -18px;

    width: 54px;
    height: 52px;
  }
}

.form-order__checkbox:checked + .form-order__label-checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-size: 32px 22px;
  }
}

.form-order__label-radio {
  position: relative;
}

.form-order__radio + .form-order__label-radio::before {
  position: absolute;
  content: "";
  left: -64px;
  bottom: -10px;

  width: 40px;
  height: 40px;

  border: 2px solid $gray-primary;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -82px;
    bottom: -15px;

    width: 53px;
    height: 53px;
  }
}

.form-order__radio:checked + .form-order__label-radio::after {
  content: "";
  position: absolute;
  left: -52px;
  top: 2px;

  width: 16px;
  height: 16px;

  background-color: #62d1ba;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -66px;
    top: -2px;

    width: 22px;
    height: 22px;
  }
}

.form-order__label {
  @media (min-width: $tablet-width) {
    margin-right: 27px;
    padding-top: 6px;

    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
  }
}

.form-order__input-text {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 22px;
  width: 260px;

  font-size: 17px;
  line-height: 18px;

  border-bottom: 2px solid black;
  border-width: 0 0 2px 0;

  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    padding: 0;
    padding-bottom: 16px;
    padding-left: 18px;
    margin-bottom: 16px;


    font-size: 19px;
    line-height: 18px;

    background-color: transparent;
  }

  &--phone {
    width: 260px;
  }

  &--email {
    width: 260px;
  }
}

.form-order__input-text::placeholder,
.form-order__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form-order__textarea {
  width: 260px;
  padding: 15px 80px 85px 15px;

  font-size: 17px;
  line-height: 18px;

  border: 2px solid black;

  @media (min-width: $tablet-width) {
    width: 500px;
    padding-bottom: 88px;

    font-size: 19px;
  }
}

.form-order__rule-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }
}

.form-order__rule {
  margin-bottom: 30px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 0;
    margin-top: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.form-order__button {
  width: 260px;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    width: 230px;

    font-size: 17px;
    line-height: 16px;
  }
}
