.main-nav {
  position: relative;

  min-width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;

  border: 1px solid #ececec;
  border-width: 1px 1px 0 1px;
  background-color: white;

  @media (min-width: $tablet-width) {
    padding: 22px 209px 22px 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 500px;
    z-index: 100;

    padding: 0;
    padding-right: 100px;
    padding-top: 8px;

    border-width: 1px 1px 1px 0;
  }
}

.main-nav__list-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {

  }
}

.main-nav__logo {
  padding: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav--open .main-nav__toggle {
  position: relative;
  width: 20px;
  height: 14px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 67px;

    width: 21px;
    height: 20px;

    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  position: relative;
  width: 21px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    bottom: 5px;
    left: 67px;

    width: 21px;
    height: 20px;

    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__site-list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.main-nav__user-list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.main-nav__stock-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    order: 3;
  }
}

.main-nav__text {
  display: none;

  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    order: 2;
    padding: 10px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    order: 4;
    padding-top: 18px;
  }
}
