.main-nav {
  display: flex;
  flex-direction: column;
  width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 80px;

  border: 1px solid #ececec;
  border-width: 1px 1px 0 1px;
}

.main-nav__logo {
  padding: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: relative;
  width: 21px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  border: none;

  &::before {
    position: absolute;
    content: "";
    bottom: 5px;
    left: 67px;

    width: 21px;
    height: 20px;

    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  width: 100%;
}
