.page-footer {
  background-color: #f1f1f1;

  @media (min-width: $tablet-width) {
    padding-top: 28px;
    padding-bottom: 26px;
  }
}

.page-footer__content-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
