.page-main__header {
  width: 320px;
  padding: 60px 0;
  margin-bottom: 30px;

  background-color: #f1f1f1;
}

.page-main__title {
  width: 320px;

  font-size: 27px;
  font-family: $font-family-base;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: black;
}
