.page-header {
  position: relative;

  background-color: white;

  &::after {
    position: absolute;
    content: "";
    z-index: 4;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 0;
      right: 0;

      height: 88px;

      background-color: #ffffff;
      border: 1px solid #ececec;
      border-width: 0 1px 1px 0;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: $gray-secondary;

    &--index {
      background-color: #f9f9f9;
    }
  }
}
