.page-footer {
  background-color: #f1f1f1;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}
