.page-footer {
  width: 320px;

  background-color: #f1f1f1;
}

.page-footer__social {
  width: 260px;
  margin: 0 30px;

  border-bottom: 1px solid #e5e5e5;
}

.social {
  padding: 25px 0 25px 0;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 80px;
  padding: 0;

  list-style: none;
}

.page-footer__copyright {
  width: 260px;
  margin: 0 30px;
}

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  padding: 22px 0 22px 0;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  vertical-align: center;
}
