.promo-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.promo-list__link {
  position: relative;

  display: block;
  padding: 26px 0 28px 29px;

  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;

  background-color: $green-primary;

  &:hover {
    .promo-list-icon {
      fill: #149080;

      opacity: 0.7;
    }

    background-color: #59d5bc;
  }

  &:active {
    .promo-list-icon {
      opacity: 0.3;
    }

    color: rgba(255, 255, 255, 0.3);
  }

  &--toy {
    background-color: $green-secondary;

    &:hover,
    &:active {
      background-color: #46c1ae;
    }
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    padding-left: 34px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.promo-list-icon {
  position: absolute;

  opacity: 0.5;

  fill: #149080;

  &--interior {
    top: 25px;
    right: 36px;
  }

  &--toy {
    top: 22px;
    right: 28px;
  }
}

.promo-list__text {
  display: block;
  width: 110px;
}
