.promo {
  display: flex;
  flex-direction: column;
  min-height: 373px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -15%;
  background-repeat: no-repeat;
}

.promo__title {
  padding: 74px 38px 100px 38px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #010000;
}

.promo-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-list__link {
  position: relative;

  display: block;
  padding: 29px 0 29px 29px;

  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    opacity: 0.5;
  }
}

.promo-list__link--interior {
  background-color: $green-primary;

  &::after {
    right: 36px;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    background-size: 40px 62px;
  }
}

.promo-list__link--toy {
  position: relative;

  background-color: $green-secondary;

  &::after {
    right: 27px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
    background-size: 60px 60px;
  }
}

.promo-list__text {
  display: block;
  width: 110px;
}
