.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  padding-top: 24px;
  padding-bottom: 17px;

  list-style: none;
  border-bottom: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 34px;
    padding-top: 6px;
    padding-bottom: 0;

    border: none;
  }
}


.social__link {
  padding: 0;
}

.social__link-icon {
  fill: #000000;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
