.social {
  display: flex;
  justify-content: center;
  margin: 0 80px;
  padding-top: 25px;
  padding-bottom: 25px;

  list-style: none;
  border-bottom: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    margin: 0;

    border: none;
  }
}


.social__link {
  padding: 0 30px 0 0;
}

.social__link-icon {
  fill: #000000;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
