.stock-navigation {
  list-style: none;
  z-index: 10;

  @media (min-width: $desktop-width) {
    margin-right: 390px;
  }
}

.stock-navigation__item {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    padding-right: 62px;
    margin: 0;
  }
}

.stock-navigation__link {
  display: block;

  color: #000000;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
