.stock-navigation {
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-right: 500px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 435px;
  }
}

.stock-navigation__item {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-right: 60px;
    margin: 0;
  }
}

.stock-navigation__link {
  display: block;

  color: #000000;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
