.table-feature__row {
  font-size: 15px;
  line-height: 20px;
}

.table-feature__parameter {
  padding: 8px 10px 10px 0;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}
