.user-list {
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    width: 525px;
  }
}

.user-list__link {
  position: relative;
  display: block;
  padding: 30px 0 30px 75px;

  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;

  border: 1px solid #ececec;
  border-width: 1px 1px 0 1px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    border: none;
    background-color: white;
  }

  &--search {
    @media (min-width: $tablet-width) {
      padding: 31px 0 26px 75px;
      margin-left: 372px;
      width: 82px;

      border: 1px solid #ececec;
      border-width: 1px 0 1px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 28px 0 30px 0;
      margin: 0;

      border-top: 1px solid #ececec;
    }
  }

  &--cart {
    border-bottom: 1px solid #ececec;

    @media (min-width: $tablet-width) {
      padding: 32px 60px 30px 83px;

      border: 1px solid #ececec;
    }

    @media (min-width: $desktop-width) {
      padding: 33px 67px 30px 83px;

      border-top: 1px solid #ececec;
    }
  }
}

.user-list__icon {
  position: absolute;
  left: 32px;
  top: 34px;

  opacity: 0.2;

  .user-list__link:hover &,
  .user-list__link:active & {
    fill: #63d1bb;
    opacity: 1;
  }

  .user-list__link:active & {
    fill-opacity: 0.3;
  }
}

.user-list__link-text {
  @media (min-width: $tablet-width) {
    font-size: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-right: 50px;
  }
}
