.video {
  display: flex;
  flex-direction: column;
  padding-bottom: 44px;
  width: 260px;

  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.video__title {
  position: relative;

  width: 126px;
  margin: 0;
  padding: 0 0 0 90px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: black;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 34px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: -5px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 1;
    width: 500px;
    margin: 0 0 38px 0;

    font-size: 20px;
  }
}

.video__description-wrapper {
  padding: 0 0 0 28px;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.video__description {
  margin: 0 0 28px 0;
  padding: 0;
  width: 185px;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 580px;
    margin: 0 0 38px 0;

    font-size: 15px;
    line-height: 30px;
  }
}

.video__button {
  width: 190px;

  font-size: 17px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 584px;
  }
}
