$mobile-width: 320px;
$mobile-width-only: 425px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$font-family-base: "Open Sans", "Arial", sans-serif;

$gray-primary: #444444;
$gray-secondary: #f1f1f1;
$green-primary: #63d1bb;
$green-secondary: #56c3b2;
